<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.walkinclinic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".PatientClinicReviews"></activity>
        <activity android:name=".PatientProfile" />
        <activity android:name=".EmployeeHours" />
        <activity android:name=".PatientBooking" />
        <activity android:name=".PatientClinicRating" />
        <activity android:name=".PatientClinicProfile" />
        <activity android:name=".PatientAllClinics" />
        <activity android:name=".PatientFilteredClinics" />
        <activity android:name=".PatientSearchService" />
        <activity android:name=".PatientSearch" />
        <activity android:name=".EmployeeSelectClinic" />
        <activity android:name=".WelcomePatient" />
        <activity android:name=".WelcomeEmployee" />
        <activity android:name=".ServicesEmployee" />
        <activity android:name=".ClinicEmployee" />
        <activity android:name=".HoursEmployee" />
        <activity android:name=".ProfileEmployee" />
        <activity android:name=".userAdmin" />
        <activity android:name=".ClinicList" />
        <activity android:name=".walkinclinicAdmin" />
        <activity android:name=".servicesAdmin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".LoginActivity" />
    </application>

</manifest>